    $primary-color: #ffb6b6;  
    $seconday-color: #d9d9d9;
    $primiary-background: #a5a5a5

    body {
        margin: o;
        background-color: $primiary-background;
    }

    header {
        background-color: $primary-color;
        padding: 16px;
        text-align: center;

        .logo-name { 
        margin-bottom: 48px;

        img {
            width: 100px;
        }

        .name{
            font-size: 32px;

            .coder-text {
            color: red;
            }

            .academy-text {
                color: #1c3c5c;
            }
        }
        }
        #nav-items {
            display: flex;
            justify-content: space-around;
            font-size: 18px;

            a {
                text-decoration: none;
                color; rgb(21, 21, 255);
            }
        }
    }